@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
header{
    height: 100px;
}
body{
    background-color: #E5E5E5;
    width: 100%;
    height: 100vh;
    
}
#contenedor{
    height:100%;
    display: flex;

}
.parte1{
    width: 70%;
}
.texto{

    width: 400px;
    height: 200px;
    border: none;
    background-color: #E5E5E5;
    margin-bottom: 50px;
}
.texto::placeholder{
    color:#0A3871 ;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    
}
.parte2{
    width: 30%;
    height: 80%;
  background-color: white;
  border-radius: 32px;
}
.botones{
    display: flex;
}
.botondesencriptar{
    background-color: #D8DFE8;
    color:#0A3871 ;
    border: solid 0.2px ;
    border-radius: 24px;
    height: 67px;
    width: 45%;
    font-family: "Inter", sans-serif;
}
.botonencriptar{
    background-color: #0A3871;
    color: white;
    border: solid;
    border-radius: 24px;
    height: 67px;
    width:45%;
    font-family: "Inter", sans-serif;
}
.exclamacion{
    font-size: 18px;
    color: #495057;
    font-family: "Inter", sans-serif;
}
.munieco{
    width: 300px;
    height: 300px;
}
.botoncopiar{
    background-color: #D8DFE8;
    color:#0A3871 ;
    border: solid 0.2px ;
    border-radius: 24px;
    height: 67px;
    width: 100%;   
    margin-top: 20px;
    font-family: "Inter", sans-serif;
}
.parrafo{
    color: #495057;
}
.ocultar{
    display: none;
}
.textoresultado{
    width: 300px;
    height: 100px;
    padding: 20px;    
    font-family: "Inter", sans-serif;
}
@media (max-width:768px){
    #contenedor{
  flex-direction: column;
  
    } 
    .parte2{
        width: 100%;
        height: 20%;
    }  
    .munieco{
        display: none;
    }
}
@media (max-width:375px){
    #contenedor{
  flex-direction: column;
  
    } 
    .parte2{
        width: 100%;
        height: 20%;
    }  
    .munieco{
        display: none;
    }
    .botones{
        flex-direction: column;
    }
}